absl-py==0.1.13
aiofiles==0.3.2
alabaster==0.7.10
anaconda-client==1.6.3
anaconda-navigator==1.6.2
anaconda-project==0.6.0
appdirs==1.4.3
appnope==0.1.0
appscript==1.0.1
args==0.1.0
asn1crypto==0.22.0
astor==0.6.2
astroid==1.4.9
astropy==1.3.2
astunparse==1.5.0
attrs==17.4.0
Automat==0.7.0
Babel==2.4.0
backports.shutil-get-terminal-size==1.0.0
bandicoot==0.5.3
bcrypt==3.1.4
beautifulsoup4==4.6.0
bitarray==0.8.1
blaze==0.10.1
bokeh==0.12.5
boost==0.1
boto==2.46.1
boto3==1.6.0
botocore==1.9.0
Bottleneck==1.2.1
brainiak==0.8
bz2file==0.98
CacheControl==0.12.5
cachetools==2.0.1
certifi==2017.11.5
cffi==1.10.0
chardet==3.0.4
cili==0.5.3
citeproc-py==0.4.0
click==6.7
clint==0.5.1
cloudpickle==0.2.2
clyent==1.2.2
cmake==3.13.1
coco==0.4.0
colorama==0.3.9
colour==0.1.5
constantly==15.1.0
contextlib2==0.5.5
cosanlab-preproc==0.0.1
cosanprep==0.1.0
crossrefapi==1.3.0
cssselect==1.0.3
cycler==0.10.0
Cython==0.25.2
cytoolz==0.8.2
-e git+https://github.com/thtrieu/darkflow.git@b2aee0000cd2a956b9f1de6dbfef94d53158b7d8#egg=darkflow
dask==1.1.4
datashape==0.5.4
datasketch==1.2.5
dautil==0.0.1b1
decorator==4.3.0
deepdish==0.3.6
dill==0.2.7.1
distributed==1.16.3
docopt==0.6.2
docutils==0.13.1
dtw==1.3.3
duecredit==0.6.3
emotioncf==0.0.1
entrypoints==0.2.3
et-xmlfile==1.0.1
eyeD3==0.8.9
face-recognition==1.2.3
face-recognition-models==0.3.0
facesync==0.0.9
fake-useragent==0.1.11
fastcache==1.0.2
# Editable install with no version control (feat==0.0.1)
-e /Users/jinhyuncheong/anaconda2/envs/py36/lib/python3.6/site-packages/feat-0.0.1-py3.6.egg
ffmpy==0.2.2
ffpyplayer==4.1.0
firebase==3.0.0
firebase-admin==2.15.1
Flask-Cors==3.0.2
Flask-PageDown==0.2.2
Flask-PyMongo==2.1.0
Flask-SimpleMDE==0.3.0
Flask-WTF==0.14.2
fmriprep==1.0.4
-e git+https://github.com/cosanlab/fnl_tools.git@b6761a7c6d3c65477ba04f9e0591b16f52fb834d#egg=fnl_tools
funcsigs==1.0.2
funcy==1.10.1
future==0.16.0
gapic-google-cloud-datastore-v1==0.15.3
gapic-google-cloud-error-reporting-v1beta1==0.15.3
gapic-google-cloud-logging-v2==0.91.3
gast==0.2.0
gcloud==0.18.3
gensim==3.3.0
geographiclib==1.49
geojson==2.4.0
geopy==1.18.1
gevent==1.2.1
google-api-core==1.7.0
google-api-python-client==1.6.5
google-auth==1.4.1
google-cloud==0.34.0
google-cloud-bigquery==0.28.0
google-cloud-bigquery-datatransfer==0.1.1
google-cloud-bigtable==0.28.1
google-cloud-container==0.1.1
google-cloud-core==0.29.1
google-cloud-datastore==1.4.0
google-cloud-dns==0.28.0
google-cloud-error-reporting==0.28.0
google-cloud-firestore==0.31.0
google-cloud-language==1.0.1
google-cloud-logging==1.4.0
google-cloud-monitoring==0.28.1
google-cloud-pubsub==0.30.1
google-cloud-resource-manager==0.28.1
google-cloud-runtimeconfig==0.28.1
google-cloud-spanner==0.29.0
google-cloud-speech==0.36.3
google-cloud-storage==1.14.0
google-cloud-trace==0.17.0
google-cloud-translate==1.3.1
google-cloud-videointelligence==1.0.1
google-cloud-vision==0.29.0
google-gax==0.15.16
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
grabbit==0.1.0
graphviz==0.11.1
greenlet==0.4.12
grpc-google-iam-v1==0.11.4
grpcio==1.10.0
gunicorn==19.9.0
gym==0.7.4
h5py==2.9.0
HeapDict==1.0.0
hmmlearn==0.2.1
html5lib==0.9999999
http-ece==1.0.5
httptools==0.0.11
hyperlink==18.0.0
hypertools==0.5.1
idna==2.6
imageio==2.1.2
imagesize==0.7.1
imgaug==0.2.8
impyute==0.0.8
imutils==0.4.3
incremental==17.5.0
indexed-gzip==0.7.0
ipykernel==4.6.1
ipython==5.3.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isodate==0.6.0
isort==4.2.5
itsdangerous==0.24
jdcal==1.3
jedi==0.10.2
jinja2-sanic==0.1.2
jmespath==0.9.3
joblib==0.11
-e git+https://github.com/Who8MyLunch/Jupyter_Video_Widget.git@a179f2f9ebbb3e4b35889803d1b931d3bd075018#egg=jpy_video
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.0.1
jupyter-console==5.1.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.3.3
jupyter-core==4.3.0
jupyter-highlight-selected-word==0.1.0
jupyter-latex-envs==1.3.8.4
jupyter-nbextensions-configurator==0.2.8
Jupyter-Video-Widget==0.3.0.dev0
Keras==2.1.5
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
landslide==1.1.3
langdetect==1.0.7
Lasagne==0.2.dev1
lazy-object-proxy==1.2.2
llvmlite==0.26.0
locket==0.2.0
lockfile==0.12.2
Markdown==2.6.11
MarkupSafe==1.0
Mastodon.py==1.3.1
matplotlib==2.2.2
MDP==3.5
mne==0.17.0
mock==2.0.0
mongoengine==0.15.0
motor==1.2.1
moviepy==0.2.3.2
mpi4py==2.0.0
mpld3==0.3
mpmath==0.19
msgpack==0.6.1
msgpack-python==0.4.8
multipledispatch==0.4.9
multivariate-inference==0.1.0
natsort==5.1.0
navigator-updater==0.1.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.0
nibabel==2.4.1
nilearn==0.5.0
nipype==0.14.0
nitime==0.7
niworkflows==0.2.7
-e git+https://github.com/ljchang/nltools.git@ff9d0bec5eedbb7e3dc923e01adbe7835766b13b#egg=nltools
nose==1.3.7
numba==0.41.0
numexpr==2.6.8
numpy==1.16.4
numpydoc==0.6.0
nvidia-ml-py3==7.352.0
oauth2client==3.0.0
oauthlib==2.0.6
odfpy==1.3.6
odo==0.5.0
olefile==0.44
opencv-python==3.4.0.12
openface==0.2.1
openpyxl==2.4.7
ordered-namespace==2017.7.22
packaging==16.8
pacpy==1.0.3.1
pactools==0.2.dev0
pandas==0.22.0
pandocfilters==1.4.2
parsel==1.5.1
partd==0.3.8
pathlib==1.0.1
pathlib2==2.2.1
patsy==0.4.1
pbr==3.1.1
pdvega==0.1
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
pixiedust==1.1.11
plotly==2.3.0
pluggy==0.6.0
ply==3.8
portmin==1.0.6
ppca==0.0.3
prompt-toolkit==1.0.14
proto-google-cloud-datastore-v1==0.90.4
proto-google-cloud-error-reporting-v1beta1==0.15.3
proto-google-cloud-logging-v2==0.91.3
protobuf==3.7.0
prov==1.5.0
psychopy-tools==0.1.0
ptyprocess==0.5.1
py==1.10.0
pyabf==0.1.17
pyasn1==0.4.2
pyasn1-modules==0.2.1
pyAudioAnalysis==0.2.5
pybids==0.4.2
pybind11==2.2.4
pycocotools==2.0.0
pycosat==0.6.2
pycparser==2.17
pycurl==7.43.0
pydicom==1.2.2
PyDispatcher==2.0.5
pydot==1.2.4
pydotplus==2.0.2
pydub==0.23.1
pyEDFlib==0.1.13
pyflakes==1.5.0
pyglet==1.4.0b1
Pygments==2.2.0
PyHamcrest==1.9.0
pyLDAvis==2.1.1
pylint==1.6.4
pymanopt==0.2.3
pymatbridge==0.5.2
pymongo==3.6.1
pynput==1.4
pynv==0.1.1
pynvx==0.0.4
pyobjc-core==5.1.2
pyobjc-framework-Cocoa==5.1.2
pyobjc-framework-Quartz==5.1.2
pyodbc==4.0.16
pyparsing==2.2.0
PyQt5==5.11.3
PyQt5-sip==4.19.13
pytest==3.3.2
python-crontab==2.2.8
python-dateutil==2.8.0
python-igraph==0.7.1.post6
python-magic==0.4.15
pytz==2019.3
PyWavelets==0.5.2
pyzmq==16.0.2
QtAwesome==0.4.4
qtconsole==4.3.0
QtPy==1.2.1
queuelib==1.5.0
rdflib==4.2.2
redis==2.10.6
requests-oauthlib==0.8.0
roipoly==0.5.0
rope-py3k==0.9.4.post1
rpy2==3.0.0
rsa==3.4.2
s3transfer==0.1.13
sanic==0.7.0
Sanic-Auth==0.2.0
scandir==1.7
scikit-image==0.14.2
scikit-learn==0.20.0
# Editable install with no version control (scikit-neuralnetwork==0.7)
-e /Users/jinhyuncheong/anaconda2/envs/py36/lib/python3.6/site-packages
scikit-surprise==1.0.6
scipy==1.1.0
Scrapy==1.5.1
scrapy-fake-useragent==1.1.0
scrapy-proxies==0.4
scrapyd==1.2.0
scrapyd-client==1.2.0a1
seaborn==0.9.0
semopy==1.2.1
service-identity==17.0.0
Shapely==1.6.4.post2
shortuuid==0.5.0
simplegeneric==0.8.1
simplejson==3.13.2
singledispatch==3.4.0.3
six==1.12.0
sk-video==1.1.8
sklearn==0.0
smart-open==1.5.6
snowballstemmer==1.2.1
sortedcollections==0.5.3
sortedcontainers==1.5.7
SpeechRecognition==3.8.1
Sphinx==1.5.6
sphinx-rtd-theme==0.4.3
spyder==3.1.4
statsmodels==0.9.0
supereeg==0.2.1
svgutils==0.3.0
sympy==1.0
tables==3.3.0
tablib==0.12.1
tblib==1.3.2
tensorboard==1.6.0
termcolor==1.1.0
terminado==0.6
testpath==0.3.1
textgenrnn==1.4.1
Theano==1.0.3+2.g3e47d39.dirty
toolz==0.8.2
tornado==4.5.1
tqdm==4.11.2
traitlets==4.3.2
traits==4.6.0
tweepy==3.5.0
twitter==1.18.0
twython==3.6.0
typing==3.6.4
tzlocal==1.5.1
ujson==1.35
umap-learn==0.3.7
unicodecsv==0.14.1
-e git+https://github.com/Who8MyLunch/Jupyter_Video_Widget.git@a179f2f9ebbb3e4b35889803d1b931d3bd075018#egg=UNKNOWN
uritemplate==3.0.0
uvc==0.13
uvloop==0.9.1
vega3==0.2.0
w3lib==1.19.0
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
wrapt==1.10.10
WTForms==2.2.1
xlrd==1.0.0
XlsxWriter==0.9.6
xlwings==0.10.4
xlwt==1.2.0
zict==0.1.2
zope.interface==4.6.0
